@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color:#87dd24;
}

*{
    font-family:'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    /*text-transform: capitalize;*/
    transition: all .2s linear;
    line-height: 1.5;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    background: #ebf7d5;
    padding-left: 30rem;
}

section{
    padding:1rem 5%;
    min-height: 65vh;
}

.heading{
    font-size: 4rem;
    padding-bottom: 1rem;
    color:#111;
}

.heading span{
    color:var(--main-color);
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding:.8rem 3rem;
    background:var(--main-color);
    color:#fff;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background:#111;
    letter-spacing: .2rem;
}

header{
    position: fixed;
    top:0; left:0; bottom:0;
    background:rgb(1, 85, 29);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    flex-flow: column;
    padding:8rem 2rem;
    width:30rem;
    text-align: center;
}

header .logo{
    color:rgb(251, 253, 249);
    font-size: 3rem;
    font-weight: bolder;
}

header .logo span{
    color:var(--main-color);
}

header .navbar a{
    display: block;
    font-size: 2rem;
    color:#fff;
    margin:2rem 0;
}

header .navbar a:hover{
    letter-spacing: .2rem;
    color:var(--main-color);
}

header .follow a{
    font-size: 2.5rem;
    color:#fff;
    margin:0 .7rem;
}

header .follow a:hover{
    color:var(--main-color);
}

#menu-bars{
    position: fixed;
    top:1rem; right: 1rem;
    z-index: 10000;
    background:var(--main-color);
    color:#fff;
    border-radius: .5rem;
    padding:1rem 1.5rem;
    font-size: 3rem;
    cursor:pointer;
    display: none;
}


.home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.home .image{
    flex:1 1 40rem;
}

.home .image img{
    width: 95%;
}

.home .content{
    flex:1 1 40rem;
}

.home .content .hi{
    font-size: 2rem;
    color:var(--main-color);
}

.home .content h3{
    font-size: 4.5rem;
    color:#111;
    text-transform: uppercase;
}

.home .content h3 span{
    color:var(--main-color);
    text-transform: uppercase;
}

.home .content .info{
    font-size: 2.3rem;
    color:#rgb(83, 82, 82);
    padding:.5rem 0;
}

.home .content .text{
    font-size: 1.7rem;
    color:#666;
    padding:.5rem 0;
}

.about .row-1{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    /*padding-bottom: 2rem;*/
}

.about .row-1 .image{
    flex:1 1 15rem;
    height: 80%;
    width: 90%;
}

.about .row-1 .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border:1rem solid rgb(171, 245, 184);
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.about .row-1 .content{
    flex:1 1 50rem;
}

.about .row-1 .content h3{
    color:#333;
    font-size: 3rem;
}

.about .row-1 .content p{
    color:#666;
    font-size: 1.7rem;
    padding:.5rem 0;
}

.about .row-1 .content .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    /*padding: 0.5rem 0;*/
}

.about .row-1 .content .box-container .box{
    flex:1 1 20rem;
}

.about .row-1 .content .box-container .box span{
    color:var(--main-color);
    color:rgb(10, 177, 66)
}


.about .skills{
    width: 100%;
    max-width: 1000px;
    padding: 0 20px;
  }
  
.about .skills .skill .skill-name{
    font-size: 17px;
    font-weight: 400;
    color: #111;
    margin: 10px 0;
  }
  
.about .skills .skill .skill-bar{
    height: 10px;
    width: 90%;
    background: #ccc;
    border-radius: 5px;
  }
  
.about .skills .skill .skill-bar .skill-per{
    height: 10px;
    width: 90%;
    background: #10e645da;
    border-radius: 5px;
    position: relative;
    animation: fillBars 8s 1;
  }
  
.about .skills .skill .skill-bar .skill-per::before{
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background: #fff;
    border-radius: 4px;
    font-size: 13px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
  }
  
.about .skills .skill .skill-bar .skill-per::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #fff;
    /*top: -20px;*/
    bottom: 15px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
  }
  
  @keyframes fillBars{
    from{
      width: 0;
    }
    to{
      width: 100%;
    }
  }


.training .box-container{
    display: inline-flexbox;
    flex-wrap: wrap;
    gap:1.5rem;
}

.training .box-container .box{
    flex:1 1 30rem;
    text-align: left;
    padding:2rem;
    background:#fff;
    border-radius: .5rem;
    box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

.training .box-container .box i{
    height: 4.6rem;
    width: 4.6rem;
    line-height: 4.6rem;
    font-size: 2.7rem;
    color: rgb(1, 73, 49);
    text-align: center;
    color: solid;
    background-clip: text;
    background-image: linear-gradient(to right,rgb(0, 250, 200),rgb(242, 245, 226),rgb(127, 248, 15));
    /*background-image: linear-gradient(to right,rgb(241, 219, 21),rgb(230, 243, 184),rgb(248, 139, 15));*/
}

.training .box-container .box h3{
    color:#444;
    font-size: 1.9rem;
    /*padding-top: 1rem;*/
}

.training .box-container .box p{
    color:rgb(10, 10, 10);
    font-size: 1.7rem;
    padding-top: .5rem;
}


.education .box-container .box{
    position: relative;
    flex:1 1 33rem;
    border-left: .2rem solid var(--main-color);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;    
}

.education .box-container .box::before{
    content: '';
    position: absolute;
    top:0; left:-1rem;
    height:2rem;
    width:2rem;
    border-radius: 50%;
    background:var(--main-color);
}

.education .box-container .box .content{
    background:#fff;
    padding:1.5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
}

.education .box-container .box .content span{
    color:#fff;
    font-size: 1.8rem;
    background:var(--main-color);
    border-radius: 50rem;
    padding:.4rem 1rem;
}

.education .box-container .box .content h3{
    font-size: 2.5rem;
    padding:.5rem 0;
    color:#111;
}

.education .box-container .box .content p{
    font-size: 1.6rem;
    color:rgb(80, 78, 78);
}

.certification .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.certification .box-container .box{
    flex:1 1 30rem;
    height:25rem;
    position: relative;
    overflow:hidden;
    border:1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    background:#fff;
    border-radius: .5rem;
}

.certification .box-container .box img{
    height:100%;
    width:100%;
    object-fit: cover;
    border-radius: .5rem;
    position: relative;
    z-index: 1;
}

.certification .box-container .box:hover img{
    height:75%;
    width:75%;
}

.certification .box-container .box h2{
    color: rgb(2, 83, 15);
    font-size: medium;
}

.interest .gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.interest .gallery .image {
    flex:1 1 1 30rem;
    position: relative;
    /*box-shadow: 0 1rem 1rem rgba(0,0,0,.1);*/
}

.interest .gallery .image__img {
    display: block;
    width: 22rem;
    height: 27rem;
    border-radius: 1rem;
    box-shadow: 0 .5rem 1rem rgb(100, 100, 100);
}

.interest .gallery .image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 22rem;
    height: 27rem;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
    border-radius: 1rem;
}

.interest .gallery .image__overlay--blur {
    backdrop-filter: blur(0.3125rem);
}

.interest .gallery .image__overlay > * {
    transform: translateY(1.25rem);
    transition: transform 0.25s;
}

.interest .gallery .image__overlay:hover {
    opacity: 1;
}

.interest .gallery .image__overlay:hover > * {
    transform: translateY(0);
}

.interest .gallery .image__title {
    font-size: 3rem;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif ;
}

.interest .gallery .image__description {
    font-size: 1.75rem;
    margin-top: 0.25rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 2rem;
    padding-right: 1rem;
    align-items: center;
}

.contact .icons-container{
    display: flex;
    gap:1.5rem;
    flex-wrap: wrap;
    padding-bottom: 2rem;
}

.contact .icons-container .icons{
    flex:1 1 25rem;
    text-align: center;
    padding:2rem;
    background:#fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
}

.contact .icons-container .icons i{
    height:5rem;
    width:5rem;
    line-height: 5rem;
    font-size: 2.3rem;
    background: var(--main-color);
    color:#fff;
    border-radius: 50%;
}

.contact .icons-container .icons h3{
    color:#111;
    font-size: 2rem;
    padding:.5rem 0;
    padding-top: 1rem;
}

.contact .icons-container .icons p{
    color:#666;
    font-size: 1.7rem;
}

.contact .row{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.contact .row form{
    flex:1 1 55rem;
    background:#fff;
    padding:0 2rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
}

.contact .row .map{
    flex:1 1 25rem;
    border:1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
    width: 100%;
}

.contact .row form .box,
.contact .row form textarea{
    width: 100%;
    border-bottom: .1rem solid #333;
    color:#333;
    text-transform: none;
    font-size: 1.7rem;
    padding:1rem 0;
    margin:1rem 0;
}

.contact .row form .box:focus,
.contact .row form textarea:focus{
    border-color: var(--main-color);
}

.contact .row form .box::placeholder,
.contact .row form textarea::placeholder{
    text-transform: capitalize;
}

.contact .row form textarea{
    height: 20rem;
    resize: none;
}

.contact .row form .btn{
    margin-top: 0;
    margin-bottom: 1.5rem;
}

.footer{
    margin-top: 2rem;
    font-size: 2rem;
    padding:2.5rem;
    text-align: center;
    color:#666;
    background: #fff;
}

/*.footer span{
    color:var(--main-color);
}*/


/* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }
    
    body{
        padding: 0;
    }

    #menu-bars{
        display: initial;
    }

    header{
        left:-120%;
    }

    header.active{
        left:0%;
    }

    .cursor-1,
    .cursor-2{
        display: none;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    header{
        width:100%;
    }

    .experience .box-container .box{
        padding-right: 0;
    }

}
